In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_parquet("yellow_tripdata_2023-01.parquet")
df.to_csv("yellow_tripdata_2023-01.csv", index=False)

In [3]:
pd.to_datetime(df.tpep_pickup_datetime)

0         2023-01-01 00:32:10
1         2023-01-01 00:55:08
2         2023-01-01 00:25:04
3         2023-01-01 00:03:48
4         2023-01-01 00:10:29
                  ...
3066761   2023-01-31 23:58:34
3066762   2023-01-31 23:31:09
3066763   2023-01-31 23:01:05
3066764   2023-01-31 23:40:00
3066765   2023-01-31 23:07:32
Name: tpep_pickup_datetime, Length: 3066766, dtype: datetime64[us]

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [6]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [7]:
df_iter = pd.read_csv("yellow_tripdata_2023-01.csv", iterator=True, chunksize=100000)

In [8]:
df = next(df_iter)

In [9]:
len(df)

100000

In [10]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

want to only insert header first, but not any data

In [11]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [12]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 5.11 s, sys: 116 ms, total: 5.23 s
Wall time: 8.46 s

1000

In [13]:
from time import time

continue iteration, and it will throw an exception when there are no iterations left

In [14]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk..., took %.3f seconds' % (t_end-t_start))

inserted another chunk..., took 8.320 seconds
inserted another chunk..., took 8.921 seconds
inserted another chunk..., took 8.861 seconds
inserted another chunk..., took 9.683 seconds
inserted another chunk..., took 8.626 seconds
inserted another chunk..., took 8.654 seconds
inserted another chunk..., took 8.579 seconds
inserted another chunk..., took 9.061 seconds
inserted another chunk..., took 8.729 seconds
inserted another chunk..., took 8.672 seconds
inserted another chunk..., took 9.174 seconds
inserted another chunk..., took 8.705 seconds
inserted another chunk..., took 9.192 seconds
inserted another chunk..., took 8.489 seconds
inserted another chunk..., took 9.355 seconds
inserted another chunk..., took 8.973 seconds
inserted another chunk..., took 8.774 seconds
inserted another chunk..., took 9.218 seconds
inserted another chunk..., took 9.144 seconds
inserted another chunk..., took 9.381 seconds
inserted another chunk..., took 8.788 seconds
inserted another chunk..., took 9.257 seconds
inserted another chunk..., took 8.924 seconds
inserted another chunk..., took 9.273 seconds
inserted another chunk..., took 9.069 seconds
inserted another chunk..., took 8.899 seconds
inserted another chunk..., took 9.084 seconds
inserted another chunk..., took 9.249 seconds

/tmp/ipykernel_15249/2219579105.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 8.690 seconds
inserted another chunk..., took 5.200 seconds

StopIteration: